:root {
    --primaryColor: #4CAF4F;
    --secondaryColor: #F5F7FA;
    --thirdColor: #717171;
    --fourthColor: #4D4D4D;
}

@font-face {
    font-family: inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}


.green {
    background-color: var(--primaryColor);
}

.style {
    font-family: inter;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 11.14px;
    line-height: 16.71px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}

.hero {
    background-color: var(--secondaryColor);

}

.colorgreen {
    color: var(--primaryColor);
}

.fontSize {
    font-family: inter;
}

/* .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;

}

.clientContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.companies {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
    width: 100%;
} */

.clientContent h1 {
    font-family: inter;
    font-size: 25px;
    font-weight: 600;
    color: var(--fourthColor);
    font-style: bold;
}

.clientContent p {
    font-family: inter;
    font-size: 15px;
    font-weight: 400;
    color: var(--fourthColor);

}

.heading2 {
    color: var(--fourthColor);
    font-style: bold;
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.firstcard p {
    font-family: inter;
    font-size: 15px;
    font-weight: 400;
    color: var(--fourthColor);
    text-align: center;
}

.firstcard {
    box-shadow: 0px 1.39px 2.78px 0px #ABBED133;
}

.chaingeFont {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    line-height: 30.63px;
    letter-spacing: 0%;

}

.para {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 9.74px;
    line-height: 13.92px;
    letter-spacing: 0%;

}

.thirdColor {
    color: var(--thirdColor);
}

.fourthColor {
    color: var(--fourthColor);
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 19.49px;
    line-height: 25.06px;
    letter-spacing: 0%;

}

.style01 {
    width: 124.25411224365234;
    height: 36.48994445800781;
    gap: 5.57px;
    opacity: 1;
    padding-top: 9.74px;
    padding-right: 22.27px;
    padding-bottom: 9.74px;
    padding-left: 22.27px;
    border-radius: 2.78px;

}

.largefont {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    /* line-height: 52.9px; */
    letter-spacing: 0%;
    text-align: center;

}

.footerbg{
    background-color:#263238;
;
}